/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require application
 */

.success {
  /* Success #198754 */
  background-color: #198754;
}

.danger {
  /* Danger #dc3545 */
  background-color: #dc3545;
}

.notifications {
  text-overflow: ellipsis;
}

.message-section {
  color: white;
  width: 100%;
  height: 26px;
  padding: 0 20px;
  margin: 0;
}

.cool-hr {
  border: none;
  height: 3px;
  background: linear-gradient(to right, lightgray, black);
  border-radius: 5px;
  margin: 20px 0;
  box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0);
  transition: all 0.3s ease-in-out;
}

.cool-hr-sm {
  border: none;
  height: 2px;
  background: linear-gradient(to left, lightgray, black);
  border-radius: 3px;
  margin: 5px 0;
  box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0);
  transition: all 0.3s ease-in-out;
}

.cool-dotted-hr {
  border: none;
  text-align: center;
  margin: 20px 0;
  position: relative;
}

.cool-dotted-hr:before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: lightseagreen;
  border-radius: 50%;
  margin: 10px;
}

#category_id, #power_level, #rarity {
	margin-top: 50px;
	color: #0d6efd;
    background: white;
    padding: 7px 16px 10px 10px;
    border-radius: 0 5px 5px 0;
    margin-left: -16px;
    font-weight: 600;
    width: 220px;
}

.vertical-span {
	border-right: 3px solid lightgray;
}

body {
  font-family: 'Arial', sans-serif;
}

ul {
  list-style: none !important;
  padding: 0 !important;
  margin: 0 !important;
}

li {
  background-color: white;
  color: #0d6efd !important;
  border: 1px solid #0d6efd;
  color: white;
  padding: 5px;
  margin: 3px 0;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, background-color 0.3s ease;
  cursor: pointer;
  font-size: 0.9rem;
}

li:hover {
  transform: translateY(-3px);
  background-color: #225cb1;
  color: white !important;
}

li:hover::before {
  color: white;
}

li::before {
  content: "➜ ";
  font-size: 1em;
  color: #0d6efd;
  margin-right: 5px;
}