<div class="container mt-4 mb-3">
  <div class="d-flex align-items-center justify-content-between">
    <div>
      <h2 class="mb-0 fw-bold">
        <span class="text-primary"><%= t('subheader.title') %></span>
        <span class="text-body-secondary mx-1">|</span>
        <span><%= locals[:name] %></span>
      </h2>
    </div>
    <% if locals[:count].positive? %>
      <span class="badge bg-primary rounded-pill fs-6"><%= locals[:count] %></span>
    <% end %>
  </div>
  <hr class="mt-2 mb-0">
</div>
