
<div class="container text-center mt-4">
  <div class="row align-items-start">
		<div>
			<% if locals[:count] > 0 %>
				<h1>D&D - <%= locals[:name] %> | (<%= locals[:count] %> total)</h1>
			<% else %>
				<h1>D&D - <%= locals[:name] %></h1>
			<% end %>
		</div>
	</div>
</div>

<div style="text-align: center;" class="mt-2">
  <span class="cool-dotted-hr"></span>
  <span class="cool-dotted-hr"></span>
  <span class="cool-dotted-hr"></span>
  <span class="cool-dotted-hr"></span>
  <span class="cool-dotted-hr"></span>
</div>